.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  /* margin-top: 4px; */
  margin-bottom: 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 20px;
}
/* User */
.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  position: absolute;
  z-index: 20;
  padding-left: 0;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  list-style: none;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 4px;
  top: -29px;
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 50%;
  height: 8px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.header__navbar-user-item a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
  z-index: 1;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* Header QR code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: -16px;
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
}

.header__qr-download-img {
  height: 1.6rem;
}
/* Header notification */
.header__notify {
  position: absolute;
  top: 140%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

.header__notify::before {
  content: "";
  position: absolute;
  top: -29px;
  right: 4px;
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -16px;
  width: 90px;
  height: 20px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  cursor: default;
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  cursor: text;
  user-select: none;
}

.heaer__notify-list {
  padding-left: 0;
}

.header__notify-item {
  /* display: flex; */
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  /* width: 100%; */
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  margin-top: 4px;
}

.header__notify-footer {
  text-align: center;
}

.header__notify-footer-btn {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 0;
  font-size: 1.4rem;
  font-weight: 400;
}
/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
}
.header__logo {
  width: 200px;
}

.header__logo-link {
  color: transparent;
  text-decoration: none;
}

.header__logo-img {
  width: 150px;
}
.header__search {
  display: flex;
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  align-items: center;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

/* History  */
.header__search-history {
  position: absolute;
  z-index: 1;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgb(189, 189, 189);
  display: none;
  overflow: hidden;
}
.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #a1a1a1;
  margin: 0 16px 0 8px;
  position: relative;
  top: 2px;
}

.header__search-option {
  position: absolute;
  z-index: 1;
  top: calc(100% + 3px);
  right: 0;
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
}

.header__search-option-item {
  background-color: var(--white-color);
  border-radius: 2px;
  padding: 8px 8px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item-active i {
  display: inline-block;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
}

.header__cart-notice {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 2px 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 12px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.header__cart-list {
  position: absolute;
  z-index: 1;
  top: calc(100% + 6px);
  right: 1px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: none;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-no-cart-img {
  width: 52%;
  display: none;
}

.header__cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}
/* Cart list item */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 56vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  color: var(--text-color);
  margin: 0;
  padding-right: 16px;
  /* ** */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 300;
}
.header__cart-item-remove {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  cursor: pointer;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
}

/* Container */
.container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 0;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
}
.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}

.category-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  border-top: 1px solid #e1e1e1;
}

.category-item-active .category-item__link {
  color: var(--primary-color);
}

.category-item-active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
  transform: translateY(-50%);
}

.category-item__link {
  position: relative;
  right: 0;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 24px;
  display: block;
  transition: right linear 0.2s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}
/* Home sort + filter */
.home-filter {
  display: flex;
  align-items: center;
  padding: 13px 17px;
  border-radius: 2px;
  background-color: #ededed;
}
.home-filter__label {
  font-size: 1.4rem;
  margin-right: 5px;
  color: #555555;
}
.select-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
  border-radius: 2px;
  color: #555555;
  background-color: var(--white-color);
}

.select-input:hover .select-input-list {
  display: block;
}

.select-input i {
  font-size: 1.8rem;
  color: #999;
}

.select-input-list {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 24px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 8px 16px;
  list-style: none;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.select-input-link {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 0;
}

.select-input-link:hover {
  color: var(--primary-color);
}

.home-filter__page {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #555555;
}
.home-filter__page-num {
  font-size: 1.4rem;
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--primary-color);
  font-weight: 500;
}
.home-filter__page-control {
  display: flex;
  text-align: center;
  background-color: white;
  width: 72px;
  height: 38px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.home-filter__page-btn {
  flex: 1;
  /* display: block; */
  text-decoration: none;
  font-size: 1.4rem;
  /* width: 50%;
  height: 100%; */
  line-height: 38px;
  /* margin: auto; */
  color: #555555;
}

.home-filter__page-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disable i {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
/* Product item */
.home-product {
  margin-bottom: 10px;
}

.home-product__pagination {
  margin: 48px 0 32px 0;
}

.home-product-item {
  display: block;
  position: relative;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 2px;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in-out 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}

.home-product-item-img {
  padding-top: 100%;
  background-repeat: no-repeat;
  /* ** */
  background-size: contain;
  background-position: top center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 10px 10px 6px;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* Chặn lại 1 dòng thêm dấu 3 chấm(Chỉ sử dụng 1 dòng) */
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}
.home-product-item__price {
  display: flex;
  align-items: baseline;
  /* ** */
  flex-wrap: wrap;
}
.home-product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  margin-left: 10px;
  text-decoration: line-through;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like-liked .home-product-item__like-fill {
  display: inline-block;
}

.home-product-item__like-liked .home-product-item__like-icon-empty {
  display: none;
}

i.home-product-item__like-fill {
  display: none;
  color: #f63d30;
}

.home-product-item__rating {
  font-size: 1rem;
  /* zoom: 0.6; */
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}
.home-product-item__brand {
  /* margin-right: auto; */
}
.home-product-item__origin-name {
  margin-left: auto;
}
.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  /* ** */
  filter: brightness(60%);
}

.home-product-item__favourite span {
  color: var(--white-color);
}

.home-product-item__favourite i {
  font-size: 0.9rem;
  color: var(--white-color);
  margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  border-top-right-radius: 2px;
  color: rgba(255, 216, 64, 0.94);
  background-color: currentColor;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-width: 0 20px 3px;
  border-style: solid;
  border-color: transparent currentColor transparent;
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
  position: relative;
  top: -4px;
}
/* Footer */
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #737373;
  padding: 2px 0;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin-right: 8px;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 16px;
}

.footer__download-app-link {
  color: transparent;
  text-decoration: none;
}

.footer__download-apps-img {
  height: 16px;
}

.footer__bottom {
  padding: 8px;
  background-color: #f5f5f5;
  margin-top: 60px;
}

.footer__text {
  margin: 0;
  font-size: 1.4rem;
  color: #737373;
  text-align: center;
}
